# <font color='red'> *실습* </font> 
# <font color='red'> DICTIONARIES AND BOOLEANS </font>

# <font color='blue'> 1. 밸류들을 전부 곱한 값을 출력하는 코드를 만드세요. </font>

In [58]:
my_dict = {'data1':500,
           'data2':-10,
           'data3':300}

In [59]:
my_dict

{'data1': 500, 'data2': -10, 'data3': 300}

In [63]:
my_dict['data1'] * my_dict['data2'] * my_dict['data3']

-1500000

# <font color='blue'> 2. 각 학생별로, 중간과 기말의 평균점수를 구하세요.

In [30]:
student_details = [
  {'student_id' : 1, 'subject' : 'math', 'midterm' : 60, 'final' : 85},
  {'student_id' : 2, 'subject' : 'math', 'midterm' : 80, 'final' : 78},
  {'student_id' : 3, 'subject' : 'math', 'midterm' : 90, 'final' : 85}
]

In [32]:
student_details

[{'student_id': 1, 'subject': 'math', 'midterm': 60, 'final': 85},
 {'student_id': 2, 'subject': 'math', 'midterm': 80, 'final': 78},
 {'student_id': 3, 'subject': 'math', 'midterm': 90, 'final': 85}]

In [33]:
# [ ]  대괄호 시작 대괄호로 끝나는것을 리스트 라고 한다.
# { }  중괄호 시작 중괄호로 끝나는것을 딕셔너리 라고 한다.

In [34]:
type( student_details )

list

In [41]:
avg1 = ( student_details[0]['midterm'] + student_details[0]['final'] ) / 2

In [46]:
avg2 = ( student_details[1]['midterm'] + student_details[1]['final'] ) / 2

In [47]:
avg3 = ( student_details[2]['midterm'] + student_details[2]['final'] ) / 2

In [48]:
avg1

72.5

In [49]:
avg2

79.0

In [50]:
avg3

87.5

# <font color='blue'> 3. 위에서 구한 평균점수를,"AVERAGE" 라는 키를 새로 만들어서, 각 학생의 딕셔너리에 추가하세요.

In [53]:
student_details[0]['average'] = avg1

In [55]:
student_details[1]['average'] = avg2

In [56]:
student_details[2]['average'] = avg3

In [57]:
student_details

[{'student_id': 1,
  'subject': 'math',
  'midterm': 60,
  'final': 85,
  'average': 72.5},
 {'student_id': 2,
  'subject': 'math',
  'midterm': 80,
  'final': 78,
  'average': 79.0},
 {'student_id': 3,
  'subject': 'math',
  'midterm': 90,
  'final': 85,
  'average': 87.5}]

# <font color='blue'> 4. 각각의 숫자를,  제곱한 값으로 바꾸세요.

In [1]:
dictionary = {'C1' : [10,20,30],
              'C2' : [20,30,40]}

In [2]:
dictionary

{'C1': [10, 20, 30], 'C2': [20, 30, 40]}

In [7]:
dictionary['C1'][0] = dictionary['C1'][0] ** 2

In [12]:
dictionary['C1'][ 1 ] = dictionary['C1'][ 1 ] ** 2

In [14]:
dictionary['C1'][ 2 ] = dictionary['C1'][ 2 ] ** 2

In [18]:
dictionary['C2'][0] = dictionary['C2'][0] ** 2

In [20]:
dictionary['C2'][1] = dictionary['C2'][1] ** 2

In [21]:
dictionary['C2'][2] = dictionary['C2'][2] ** 2

In [22]:
dictionary

{'C1': [100, 400, 900], 'C2': [400, 900, 1600]}

# <font color='blue'>  5. (1)모든 키를 리스트로 출력하세요. (2) 모든 밸류를 리스트로 출력하세요. (3) 모든 밸류의 값을 다 더하세요.

In [24]:
my_salary = {"alex": 25, "sally": 28, "dina": 30}

In [26]:
my_salary.keys()

dict_keys(['alex', 'sally', 'dina'])

In [27]:
my_salary.values()

dict_values([25, 28, 30])

In [29]:
sum( my_salary.values() )

83

# <font color='blue'>  6. (a)딕셔너리의 길이를 구하세요. (b) 나이에 대한 오름차순으로 정렬하세요.

In [65]:
my_dict = {"sally": 23, "dina": 22, "holy": 50, "Joe": 10, "Peter": 44}

In [67]:
len( my_dict )

5

In [68]:
my_dict.values()

dict_values([23, 22, 50, 10, 44])

In [69]:
sorted( my_dict.values() )

[10, 22, 23, 44, 50]

In [70]:
my_dict.values()

dict_values([23, 22, 50, 10, 44])

In [71]:
# 리스트의 함수에서 sort 함수가 있다.

In [75]:
'30'

'30'

In [76]:
int( '30')

30

In [79]:
my_list = list( my_dict.values() )

In [81]:
my_list.sort()

In [82]:
my_list

[10, 22, 23, 44, 50]