# PYTHON PROGRAMMING FUNDAMENTALS
# TUPLES AND SETS

# TUPLES 

- Immutable Python objects. 
- 튜플은 시퀀스, 즉 순서가 있습니다. 
- 튜플은 괄호 ( ) 를 사용합니다.

In [1]:
# 리스트랑 완전히 동일하게 동작하되, ( 추가, 변경, 삭제 ) 가 안되는것.

In [2]:
()

()

In [3]:
[]

[]

In [4]:
{}

{}

In [5]:
()

()

In [6]:
tuple()

()

In [8]:
my_tuple = (1, 'hello', 3.14 )

In [9]:
my_tuple

(1, 'hello', 3.14)

In [10]:
my_tuple[1]

'hello'

In [11]:
my_tuple[0]

1

In [12]:
my_tuple[2]

3.14

In [13]:
my_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment

In [14]:
my_tuple.append(100)

AttributeError: 'tuple' object has no attribute 'append'

In [15]:
del my_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [16]:
(2, 3)

(2, 3)

In [17]:
2, 3, 4

(2, 3, 4)

In [18]:
( 2 )

2

In [20]:
# 튜플로 데이터 1개를 저장할때는 
( 2, )

(2,)

# SETS
- 셋에 들어있는 데이터는 순서가 없습니다.
- 셋에는 동일한 값이 저장되지 않습니다. 우리가 배웠던 집합과 같습니다. 
- 셋은 중괄호 { } 로 정의합니다.

In [21]:
set()

set()

In [23]:
{ 1, 1, 1, 5, 4, 3, 1, 5, 8, 3, 9 }

{1, 3, 4, 5, 8, 9}

In [24]:
# 데이터를 중복 제거 하고 싶을때 사용한다. => set 집합

In [25]:
#  페이지뷰를 저장한다고 가정.

In [27]:
page_view = [1, 2, 1, 1, 3, 2, 4, 1, 2]

In [28]:
page_view.append(10)

In [29]:
page_view

[1, 2, 1, 1, 3, 2, 4, 1, 2, 10]

In [30]:
len( page_view )

10

In [31]:
page_view

[1, 2, 1, 1, 3, 2, 4, 1, 2, 10]

In [33]:
unique_users = set(  page_view )

In [34]:
unique_users

{1, 2, 3, 4, 10}

In [35]:
len(unique_users)

5

In [36]:
event_A = {3, 1, 7, 7, 7, 2, 11}

In [37]:
event_A

{1, 2, 3, 7, 11}

In [38]:
event_B = {7, 6, 12, 1}

In [39]:
event_B

{1, 6, 7, 12}

In [40]:
event_A | event_B

{1, 2, 3, 6, 7, 11, 12}

In [41]:
event_A & event_B

{1, 7}

In [42]:
event_A - event_B

{2, 3, 11}

In [43]:
event_A.add(20)

In [44]:
event_A

{1, 2, 3, 7, 11, 20}

In [45]:
event_A.discard(3)

In [46]:
event_A

{1, 2, 7, 11, 20}