# PYTHON PROGRAMMING FUNDAMENTALS

# 우리가 배울것 : 반복문 - Loop    
- For Loops
- Break a loop
- Continue statement
- Range 
- While Loops
- Nested loops
- List Comprehension

# <font color='blue'> 비가 오는 동안에는, 막걸리를 계속 마신다.

### 실행 순서에 대한 문법을 배웁시다.

In [1]:
my_list = [11, 222, 30, 44]

In [2]:
print( my_list[0] )

11

In [3]:
print( my_list[1] )

222

In [4]:
print( my_list[2] )

30

In [5]:
print( my_list[3] )

44

In [6]:
# 데이터 스트럭쳐 들어있는 데이터를 하나씩 가져와서
# 무엇인가 작업을 하고 싶을때 사용하는 키워드 for

In [7]:
my_list

[11, 222, 30, 44]

In [8]:
for data in my_list :
    print(data)

11
222
30
44

In [10]:
score_list = [98, 45, 77, 64, 56]

In [11]:
for score in score_list :
    print(score)

98
45
77
64
56

In [12]:
# 스코어를 잘못 계산했다고 치자. 따라서 원래 스코어에 5점씩 뺀 점수로 출력하세요.

In [13]:
for score in score_list :
    print(score - 5)

93
40
72
59
51

In [14]:
# 위에서 계산한, 5점씩 뺀 점수로, 새로운 리스트 new_score_list 를 만드세요.

In [15]:
new_score_list = []
for score  in score_list : 
    print(score - 5)
    new_score_list.append(score - 5)

93
40
72
59
51

In [16]:
new_score_list

[93, 40, 72, 59, 51]

# FOR LOOPS 
- 영어가 설명이 정확합니다. For loops are used for iterating over a sequence (a list, a tuple, a dictionary, a set, or a string).

- 한번에 하나의 항목만 가져와서, 원하는 대로 처리합니다.

## 리스트 데이터를 loop 돌면서 처리한다.

## 문자열 데이터를 루프 돌면서 처리한다.

In [17]:
sentence = 'Hello World~'

In [18]:
len(sentence)

12

In [19]:
for char in sentence :
    print(char)

H
e
l
l
o

W
o
r
l
d
~

### 리스트를 루프 돈다.

In [20]:
fruits = [ 'apple', 'blueberries', 'mango', 'watermelon' ]

In [21]:
# 리스트의 데이터를, 전부 대문자로 바꿔서 출력하세요.

In [23]:
for fruit  in fruits :
    print(fruit.upper())

APPLE
BLUEBERRIES
MANGO
WATERMELON

## 리스트의 인덱스값과, 매칭되어 저장되어있은 값을 함께 출력

In [24]:
fruits

['apple', 'blueberries', 'mango', 'watermelon']

In [27]:
for index, fruit  in enumerate(fruits) : 
    print( index, fruit )

0 apple
1 blueberries
2 mango
3 watermelon

## 딕셔너리 데이터를 for 루프 : key

In [28]:
my_phone = {'brand':'Apple', 'model':'iPhone 13', 'color':'red', 'year':2021}

In [29]:
for  data  in my_phone :
    print(data)

brand
model
color
year

## 딕셔너리 value 값을 for 루프

In [30]:
my_phone.values()

dict_values(['Apple', 'iPhone 13', 'red', 2021])

In [31]:
for  data  in my_phone.values() : 
    print(data)

Apple
iPhone 13
red
2021

## 키 밸류를 튜플 로 프린트

In [32]:
my_phone.items()

dict_items([('brand', 'Apple'), ('model', 'iPhone 13'), ('color', 'red'), ('year', 2021)])

In [33]:
for data   in my_phone.items() :
    print(data)

('brand', 'Apple')
('model', 'iPhone 13')
('color', 'red')
('year', 2021)

## 키, 밸류 값을 각각 가져와서 원하는 처리를 함

# 결론은? 데이터가 나열되어 있는 것들(리스트 등등)은, for 를 통해 쉽게 원하는 값을 가져올 수 있다.

# BREAK A LOOP/CONTINUE          
## 코드 실행 순서를 바꿔보자     
- 자신을 감싸고 있는 루프의 { } 괄호를 벗어난다. break() is used to exit a for loop or a while loop
- 루프의 처음 조건으로 돌아간다. continue() is used to skip the current block, and return to the "for" or "while" statement.

## 누가?????      코드의 실행 순서가!!!!!!!!!!!!! 바뀐다!!!!!!!!!!!!!!!!!!!!!!!!!

In [34]:
fruits

['apple', 'blueberries', 'mango', 'watermelon']

In [ ]:
# fruits 안에 있는 과일 이름을 하나씩 출력하되, mango 가 나오면, 반복을 끝낸다.

In [36]:
for  data  in fruits :
    print(data)
    if data == 'mango' :
        break

apple
blueberries
mango

# RANGE 함수
- range() 함수는, 숫자 **리스트**를 만들어 준다.
- range() 함수는,  인덱스가 0 부터 시작한다. 
- 레인지의 괄호 안에 적는 숫자 갯수만큼 만든다.  
- Example: range(0, 10) generates integers from 0 up to, but not including, 10.

In [ ]:
# 지정한 범위 안에 들어있는 정수의 리스트를 만들어주는 함수다.

In [38]:
# 0부터 9까지 정수를 만들어준다.  [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ]
range( 10 )

range(0, 10)

In [39]:
list(range( 10 ))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
range(5)

range(0, 5)

In [41]:
list(range(5))

[0, 1, 2, 3, 4]

In [48]:
# 3부터 9까지 정수 만들어라. [ 3, 4, 5, 6, 7, 8, 9 ]
range(3, 10)

range(3, 10)

In [47]:
list(range(3, 10))

[3, 4, 5, 6, 7, 8, 9]

In [51]:
# 1부터 20까지의 정수를 만들어주세요.
range(1, 21)

range(1, 21)

In [52]:
list(range(1, 20+1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [53]:
# 1부터 20까지의 홀수를 만들어주세요.
range( 1, 21, 2 )

range(1, 21, 2)

In [54]:
list(range(1, 21, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [56]:
# range 함수는 for 반복문과 잘 활용이 된다.
# 횟수와 관련된 내용에 활용이 된다.

In [57]:
# hello 문자열을 5번 출력해주세요.

In [59]:
print('hello')
print('hello')
print('hello')
print('hello')
print('hello')

hello
hello
hello
hello
hello

In [62]:
# range(5) => [ 0, 1, 2, 3, 4  ]
for data  in range(5) : 
    print('hello')

hello
hello
hello
hello
hello

# WHILE LOOPS 
- While loop 는, 조건식을 만족하는 동안, 자신이 포함하는 문장들을 실행한다.

In [63]:
# hello 를 7번 출력하세요.

In [64]:
# while 반복문은 초기값을 여러분이 설정해야 한다.
# 그리고 이 초기값을 증가시키거나 감소시키는 문장을 넣어야 한다.

In [65]:
i = 0
while i < 7 :
    print('hello')
    i = i + 1

hello
hello
hello
hello
hello
hello
hello

In [66]:
i = 7
while i > 0 :
    print('hello')
    i = i - 1

hello
hello
hello
hello
hello
hello
hello

## Infinite Loop : 무한루프

- ## 롯데리아에서 키오스크로 햄버거 주문할때, 유저가 버튼 누를때까지 화면은 계속 나오고 있다.
- ## 게임이 시작되고 나면, 유저가 화장실을 갔다와도 게임은 계속 진행되고 있다.

In [1]:
# 유저한테 문장을 입력받는다.
# 해당 문장을 화면에 출력한다.
# "그만" 이라는 글자를 입력할때까지, 유저한테 입력받은 문장을 
# 화면에 출력한다.

In [3]:
while True :
    sentence = input('문장 입력 하세요 : ')

    if sentence == '그만' :
        break
    
    print('입력하신 문장은 :', sentence)

문장 입력 하세요 :  안녕

입력하신 문장은 : 안녕

문장 입력 하세요 :  하세요

입력하신 문장은 : 하세요

문장 입력 하세요 :  그만

# NESTED LOOPS
- 루프 안애 또 루프가 들어가는 경우.

In [4]:
for x in range(2, 10) :
    for y in range(1, 10) :
        print( x, 'X', y , '=', x*y)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# LIST COMPREHENSION 
- 원본 리스트를 가지고, 다른 리스트를 만드는 방법 
- for 나 while 없이, loop 를 실행시키는 아름다운 방법

## 문법을 잘 봅시다.

In [7]:
my_list = [1, 2, 3, 4, 5]

In [5]:
# 이 리스트를 제곱한 값으로, new_list 라는 리스트를 만드세요

In [13]:
new_list = []
for data in my_list:
    new_list.append( data ** 2 )

In [14]:
new_list

[1, 4, 9, 16, 25]

In [15]:
[  data ** 2  for data in my_list ]

[1, 4, 9, 16, 25]

In [ ]:
# my_list 에서, 짝수만 가져와서, 짝수만 제곱한 새로운 리스트를 만들자

In [16]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [19]:
new_list = []
for data in my_list :
    if data % 2 == 0 :
        new_list.append(data ** 2)

In [20]:
new_list

[4, 16, 36, 64, 100]

In [21]:
[ data ** 2  for data in my_list  if data % 2 == 0 ]

[4, 16, 36, 64, 100]